StoXtreme/scripts/admin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://interfaz_remota.stoxtreme" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://interfaz_remota.stoxtreme" xmlns:intf="http://interfaz_remota.stoxtreme" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->

   <wsdl:message name="hideGUIRequest">

   </wsdl:message>

   <wsdl:message name="showGUIResponse">

   </wsdl:message>

   <wsdl:message name="iniciaSesionRequest">

   </wsdl:message>

   <wsdl:message name="pararServidorRequest">

   </wsdl:message>

   <wsdl:message name="iniciarServidorResponse">

   </wsdl:message>

   <wsdl:message name="hideGUIResponse">

   </wsdl:message>

   <wsdl:message name="finalizaSesionResponse">

   </wsdl:message>

   <wsdl:message name="pararServidorResponse">

   </wsdl:message>

   <wsdl:message name="iniciaSesionResponse">

   </wsdl:message>

   <wsdl:message name="finalizaSesionRequest">

   </wsdl:message>

   <wsdl:message name="iniciarServidorRequest">

   </wsdl:message>

   <wsdl:message name="showGUIRequest">

   </wsdl:message>

   <wsdl:portType name="Administrador">

      <wsdl:operation name="iniciarServidor">

         <wsdl:input message="impl:iniciarServidorRequest" name="iniciarServidorRequest"/>

         <wsdl:output message="impl:iniciarServidorResponse" name="iniciarServidorResponse"/>

      </wsdl:operation>

      <wsdl:operation name="pararServidor">

         <wsdl:input message="impl:pararServidorRequest" name="pararServidorRequest"/>

         <wsdl:output message="impl:pararServidorResponse" name="pararServidorResponse"/>

      </wsdl:operation>

      <wsdl:operation name="iniciaSesion">

         <wsdl:input message="impl:iniciaSesionRequest" name="iniciaSesionRequest"/>

         <wsdl:output message="impl:iniciaSesionResponse" name="iniciaSesionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="finalizaSesion">

         <wsdl:input message="impl:finalizaSesionRequest" name="finalizaSesionRequest"/>

         <wsdl:output message="impl:finalizaSesionResponse" name="finalizaSesionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="showGUI">

         <wsdl:input message="impl:showGUIRequest" name="showGUIRequest"/>

         <wsdl:output message="impl:showGUIResponse" name="showGUIResponse"/>

      </wsdl:operation>

      <wsdl:operation name="hideGUI">

         <wsdl:input message="impl:hideGUIRequest" name="hideGUIRequest"/>

         <wsdl:output message="impl:hideGUIResponse" name="hideGUIResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StoXtremeAdminSoapBinding" type="impl:Administrador">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="iniciarServidor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="iniciarServidorRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="iniciarServidorResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="pararServidor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="pararServidorRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="pararServidorResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="iniciaSesion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="iniciaSesionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="iniciaSesionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="finalizaSesion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="finalizaSesionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="finalizaSesionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="showGUI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="showGUIRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="showGUIResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hideGUI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="hideGUIRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="hideGUIResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AdministradorService">

      <wsdl:port binding="impl:StoXtremeAdminSoapBinding" name="StoXtremeAdmin">

         <wsdlsoap:address location="http://localhost:8080/axis/services/StoXtremeAdmin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
