StoXtreme/scripts/mensajes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://interfaz_remota.stoxtreme" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://interfaz_remota.stoxtreme" xmlns:intf="http://interfaz_remota.stoxtreme" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://interfaz_remota.stoxtreme" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Mensaje">
    <sequence>
     <element name="contenido" nillable="true" type="soapenc:string"/>
     <element name="tipoMensaje" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="enviaMensajeResponse">

   </wsdl:message>

   <wsdl:message name="getSiguienteMensajeRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="enviaMensajeRequest">

      <wsdl:part name="in0" type="impl:Mensaje"/>

   </wsdl:message>

   <wsdl:message name="getSiguienteMensajeResponse">

      <wsdl:part name="getSiguienteMensajeReturn" type="impl:Mensaje"/>

   </wsdl:message>

   <wsdl:portType name="StoxtremeMensajes">

      <wsdl:operation name="getSiguienteMensaje" parameterOrder="in0">

         <wsdl:input message="impl:getSiguienteMensajeRequest" name="getSiguienteMensajeRequest"/>

         <wsdl:output message="impl:getSiguienteMensajeResponse" name="getSiguienteMensajeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="enviaMensaje" parameterOrder="in0">

         <wsdl:input message="impl:enviaMensajeRequest" name="enviaMensajeRequest"/>

         <wsdl:output message="impl:enviaMensajeResponse" name="enviaMensajeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StoXtremeMsgSoapBinding" type="impl:StoxtremeMensajes">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSiguienteMensaje">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSiguienteMensajeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSiguienteMensajeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enviaMensaje">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="enviaMensajeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="enviaMensajeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://interfaz_remota.stoxtreme" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StoxtremeMensajesService">

      <wsdl:port binding="impl:StoXtremeMsgSoapBinding" name="StoXtremeMsg">

         <wsdlsoap:address location="http://localhost:8080/axis/services/StoXtremeMsg"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
